.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 999;

  .content {
    transition: ease-in-out 1s;
    border-radius: 10px;
    padding: 20px 40px;
    background-color: #fcc60400;
    display: flex;
    align-items: center;
    padding: 5px 60px;
    justify-content: space-between;
  }

  .content .logo {
    width: 100px;
    background-image: url("/tornogray.png");
    background-size: contain;
    height: 50px;
  }

  .content ul {
    margin: 0px;
    list-style: none;
    display: flex;
    gap: 80px;
  }

  .content ul li a {
    text-decoration: none;
    color: #231f20;
  }
  .content ul li a:hover {
    border-bottom: 1px solid #231f20;
  }
 

  .content .botao-nav {
    border-radius: 10px;
    border: 1px solid transparent;
    padding: 8px 14px;
    background-color: #231f20;
    color: white;
  }

  .content .botao-nav:hover {
    color: rgb(62, 23, 159);
    border: 1px solid rgb(62, 23, 159);
    background-color: white;
  }
}

.navbar .content.ativo {
  transition: ease-in-out 1s;
  background: linear-gradient(to right, #3887ac, #249fd8);

  .logo {
    background-image: url("/tornowhite.png");
  }

  .botao-nav {
    background: none;
    border: 1px solid white;
    color: white;
  }

  ul li a {
    color: white;
  }

  ul li a:hover {
    border-bottom: 1px solid white;
  }

  .botao-nav:hover {
    color: rgb(232, 223, 255);
    border-color: rgb(182, 194, 255);
    background-color: rgba(195, 201, 255, 0.16);
  }

  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.165);
}
