<main class="container poppins">
    <img class="engrenagem" src="engrenagem.png" alt="1">
    <img class="engrenagem" src="engrenagem.png" alt="2">
    <img class="engrenagem" src="engrenagem.png" alt="3">
    <img class="engrenagem" src="engrenagem.png" alt="4">

    <div class="box-main">
        
        <div>
            <h1 class="titulo">O FUTURO</h1>
            <p class="subtitulo">é a automação</p>
        </div>
    </div>
    <p class="descricao">Torno Industrial >></p>
    <img class="torno-home" src="/torno-home.png" alt="">
</main>
